body {
    margin: 30;
    padding: 30;
    background-color: rgb(255, 255, 255);
  }

.container {
  display: flex; /* Utilisation de flexbox pour disposer les éléments côte à côte */
  align-items: center; 
}



.button {
  background-color: #ffffff;
  border: 1px solid #000000; /* Couleur et épaisseur de la bordure */
    border-radius: 5px; /* Rayon de courbure des coins */
  color: rgb(0, 0, 0); 
  padding: 5px 5px; 
  font-size: 16px;
  margin: 3px; 
  cursor: pointer;
  text-decoration: none;
}

.f-r {
  float : right
}


h1 {
  color: rgb(0, 0, 0);
}

p {
  color: rgb(0, 0, 0);
  font-family: verdana;
  font-size: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

footer {
  padding: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e7e7e7; 
  border: 1px solid #06090a;
}


input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.texte {
  flex: 1; /* Le texte prendra autant d'espace que possible */
  padding: 20px; /* Ajout d'un peu d'espace autour du texte */
  font-family: verdana;
  font-size: 50px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
input[type="submit"]:hover {
  background-color: #45a049;
}